<h1>Registeration area!</h1>

<form action="" [formGroup]="myForm">

    <label for="firstName">First Name</label>
    <input type="text" placeholder="First Name" [formControl]="myForm.controls['FirstName']" id="firstName" /><br>

    <label for="lastName">Last Name</label>
    <input type="text" placeholder="Last Name" [formControl]="myForm.controls['LastName']" id="lastName" /><br>

    <label for="email">Email</label>
    <input type="text" placeholder="Email" type="email" [formControl]="myForm.controls['Email']" id="email" /><br>

    <label for="pass">Password</label>
    <input placeholder="Password" type="password" [formControl]="myForm.controls['Password']" id="pass" /><br>

    <select placeholder="Account Type" name="accountType" [formControl]="myForm.controls['AccountType']">
<option value="Student">Student</option>
<option value="Compony">Compony</option>
</select>

    <select *ngIf="myForm.controls['AccountType'].value == userType.Student" [formControl]="myForm.controls['Gender']">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>

    <label *ngIf="myForm.controls['AccountType'].value == userType.Compony">
        <input placeholder="Company" type="text"  [formControl]="myForm.controls['Company']">
    </label>
    <button (click)="signUp(myForm.value)">Submit</button>
</form>

<a routerLink="/login" routerLinkActive="active">Login</a>