<!--<h1>Registeration area!</h1>

<form action="" [formGroup]="myForm">

    <label for="firstName">First Name</label>
    <input type="text" placeholder="First Name" [formControl]="myForm.controls['FirstName']" id="firstName" /><br>

    <label for="lastName">Last Name</label>
    <input type="text" placeholder="Last Name" [formControl]="myForm.controls['LastName']" id="lastName" /><br>

    <label for="email">Email</label>
    <input type="text" placeholder="Email" type="email" [formControl]="myForm.controls['Email']" id="email" /><br>

    <label for="pass">Password</label>
    <input placeholder="Password" type="password" [formControl]="myForm.controls['Password']" id="pass" /><br>

    <select placeholder="Account Type" name="accountType" [formControl]="myForm.controls['AccountType']">
<option value="Student">Student</option>
<option value="Compony">Compony</option>
</select>

    <select *ngIf="myForm.controls['AccountType'].value == userType.Student" [formControl]="myForm.controls['Gender']">
<option value="Male">Male</option>
<option value="Female">Female</option>
</select>

    <label *ngIf="myForm.controls['AccountType'].value == userType.Compony">
        <input placeholder="Company" type="text"  [formControl]="myForm.controls['Company']">
    </label>
    <button (click)="signUp(myForm.value)">Submit</button>
</form>

<a routerLink="/login" routerLinkActive="active">Login</a>-->


<div class="container">
    <div class="page-header">
        <h1>Update resume</h1>
    </div>
</div>
<div class="container">
    <div class="col-sm-6 col-md-4">
        <form action="" id="loginForm" [formGroup]="myForm">
            <div class="form-group input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="text" name='FirstName' [formControl]="myForm.controls['FirstName']" placeholder="First Name"
                />
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="text" name='LastName' [formControl]="myForm.controls['LastName']" placeholder="Last Name"
                />
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon"> </span>
                <input class="form-control" type="email" [formControl]="myForm.controls['Email']" name='Email' placeholder="Email" />
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" type="password" name='Password' [formControl]="myForm.controls['Password']" placeholder="Password"
                />
            </div>


            <select class="form-control" [formControl]="myForm.controls['AccountType']" name="browsers">
    <option value="Student" selected="selected">Student</option>
    <option value="Compony">Compony</option>
</select>

            <select class="form-control" *ngIf="myForm.controls['AccountType'].value == userType.Student" [formControl]="myForm.controls['Gender']">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
</select>

            <br/>
            <div class="form-group input-group" *ngIf="myForm.controls['AccountType'].value == userType.Compony">
                <span class="input-group-addon"> </span>
                <input class="form-control" type="text" placeholder="Company Name" [formControl]="myForm.controls['Company']">
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-info btn-block" (click)="signUp(myForm.value)">Submit</button>
            </div>
        </form>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>