<div class="container">
    <div class="page-header">
        <h1>Project Level 0: Campus Recruitment System</h1>
    </div>
</div>
<div class="container">
    <div class="col-sm-4 col-md-4">
        <form action="" id="loginForm">
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" type="text" name='Email' (input)="data.email=$event.target.value" placeholder="Email" />
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password" (input)="data.pass=$event.target.value" name='password' placeholder="password"
                />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-info btn-block" (click)="login()">Login</button>
            </div>

        </form>
        <button type="button" class="btn btn-info">
            </button>
        <a routerLink="/signup" routerLinkActive="active">Sign up</a>
        <button type="button" class="btn btn-info">
            </button>
    </div>
</div>



<div class="container_table">
    <h2>Basic Example</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>admin@admin.com</td>
                <td>admin12</td>
            </tr>
            <tr>
                <td>company@gmail.com</td>
                <td>123456</td>
            </tr>
        </tbody>
    </table>
</div>

<!--<form>

    <label for="email">Email</label>
    <input type="text" (input)="data.email=$event.target.value" id="email" /><br>

    <label for="pass">Password</label>
    <input type="text" (input)="data.pass=$event.target.value" id="pass" /><br>

    <button (click)="login()">Login</button>

</form>-->


<!--<a routerLink="/signup" routerLinkActive="active">Signup</a>-->