<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0)">Marathon</a>
        </div>

        <!--For Student-->
        <ul class="nav navbar-nav" *ngIf="obj.type === 'Student'">
            <li> <a routerLink="/add/resume" routerLinkActive="active">Update resume</a></li>
            <li> <a routerLink="/get/resume" routerLinkActive="active">Get resume</a></li>
            <li> <a routerLink="/get/job" routerLinkActive="active">Available jobs</a></li>
            <li> <a routerLink="/all/companeis" routerLinkActive="active">Companies</a></li>
        </ul>
        <!--For Company-->
        <ul class="nav navbar-nav" *ngIf="obj.type === 'Compony'">
            <li> <a routerLink="/create/job" routerLinkActive="active">Create job</a></li>
            <li> <a routerLink="/get/job" routerLinkActive="active">Available jobs</a></li>
            <li> <a routerLink="/all_Users" routerLinkActive="active">Students</a></li>
        </ul>
        <!--For Admin-->
        <ul class="nav navbar-nav" *ngIf="obj.type === 'Admin'">
            <li> <a routerLink="/create/job" routerLinkActive="active">Create job</a></li>
            <li> <a routerLink="/all/companeis" routerLinkActive="active">Componies</a></li>
            <li> <a routerLink="/get/job" routerLinkActive="active">Available jobs</a></li>
            <li> <a routerLink="/all_Users" routerLinkActive="active">Students</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0)" (click)="logOut()"><span class="glyphicon glyphicon-user"></span> Sign out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1> Welcome: {{obj.name}}</h1>
        <h5>{{obj.mail}}</h5>
    </div>
</div>



<!--<button (click)="logOut()">logOut</button>
<br/>-->
<!--For Students-->
<!--<div *ngIf="obj.type === 'Student'">
    <a routerLink="/add/resume" routerLinkActive="active">User add data</a>
    <br/>
    <a routerLink="/get/resume" routerLinkActive="active">User Get Resume</a>
    <br/>
    <a routerLink="/get/job" routerLinkActive="active">Show Job</a>
    <br/>
    <a routerLink="/all/companeis" routerLinkActive="active"> Show Componies</a>
</div>-->

<!--For Company-->
<!--<div *ngIf="obj.type === 'Compony'">
    <a routerLink="/create/job" routerLinkActive="active"> Add Job</a>
    <br/>
    <a routerLink="/get/job" routerLinkActive="active">Show Job</a>
    <br/>
    <a routerLink="/all_Users" routerLinkActive="active">Show all students</a>
</div>-->
<!--For Admin-->
<!--<div *ngIf="obj.type === 'Admin'">
    <a routerLink="/all/companeis" routerLinkActive="active"> Show Componies</a>
    <br/>
    <a routerLink="/get/job" routerLinkActive="active">Show Jobs</a>
    <br/>
    <a routerLink="/all_Users" routerLinkActive="active">Show students</a>
</div>-->